/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Fira+Sans:wght@300;400;700&display=swap');

/* Apply fonts to headings and titles */
h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
}

/* Apply fonts to paragraphs and text */
p, input, button, h4 {
    font-family: 'Fira Sans', sans-serif;
    border-radius: 0.45rem;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* styles for select box */
select {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    color: #ffffff;
    border-radius: 0.45rem;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar-nav {
    font-family: 'Fira Sans';
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* for id: bar1, city */
#bar1, #heatmap, #tooltip {
    font-family: 'Fira Sans';
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#city {
    font-family: 'Fira Sans';
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.45rem;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.link {
    fill: none;
    stroke: darkblue;
    stroke-opacity: .2;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
  
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

/* Legend Position Style */
.legend {
	position:absolute;
	left:20px;
	top:80px;
}

.axis text {
	font: 10px 'Fira Sans';
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
